[Unit]
After=network.target

[Service]
ExecStart=/opt/duplicity_ansible/jobs/duplicity_job_{{ duplicity_job_name }}.sh
Restart=always
RestartSec=12h

[Install]
WantedBy=multi-user.target
